html{
	background:#d4ab6b;
}

body{
	background-color:#fbedbe;
}

/*header block*/
header{
	padding-bottom:50px;
	margin-left:auto;
	margin-right:auto;
	text-shadow:2px 2px #666666;
}

header > img {
	float:left;
	padding-left:30px;
	margin-bottom:15px;
	height:200px;
	width:195px;
}

h1 > a:hover{
	text-decoration:none;
}

/* navbar*/
.navbar-default{
	background:transparent;
	border:transparent;
	font-size:20px;
}

.navbar-brand{
	font-weight:bold;
	font-size:25px;
}

li > a{
	font-weight:bold;
}

/*body text*/	
h3{
	font-weight:bold;
}

aside{
	padding-top:10px;
	float:left;
}

footer{
	font-style:italic;
	text-align:center;
	padding-top: 2px;
	margin-top:50px;
	margin-bottom:20px;
}

/*performer carousel*/
.carousel-inner{
	text-align:center;
}

.col-xs-12 > h3{
	text-align:center;
}

.carousel-inner > .item > .img-rounded{
	height:300px;
	margin:auto;
}

@media only screen and (max-width:768px){
	
	h1{
		text-align:center;
		font-size:60px;
		margin-bottom:0px;
	}

}
@media only screen and (min-width:992px){
	
	h1{
	padding-top:70px;
	padding-bottom:0px;
	margin-bottom:0px;
	font-size:70px;
	text-indent:15%;	
	}
	
	body{
		background-image:url("../images/background.png");
		background-size:1200px 270px;
		background-repeat:no-repeat;
		padding:0px;
		margin-top:5px;
	}
}